html {
	scroll-behavior: smooth;
}

header {
	position: fixed;
	top: 2%;
	right: 2%;
}

header > .languageSwitch {
	display: flex;
	align-items: center;
}

header > .languageSwitch > a > picture {
	display: flex;
	align-items: center;
}

body {
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3, h5 {
	font-weight: 600;
}

.section {
	padding: 1% 8% 2% 4%;
}

section.no-break {
	break-inside: avoid;
}

a {
	color: black;
	font-weight: 600;
}

a:hover {
	color: blue;
	text-decoration: none;
}

.generalInfo {
	padding-bottom: 0;
}

.generalInfo h1 {
	margin: 0;
	padding: 20px 0;
}

.generalInfo div {
	display: flex;
	align-items: center;
	padding-bottom: 10px;
}

.generalInfo div.social,
.generalInfo div.text {
	display: block;
}

.generalInfo div.text p {
	text-indent: 1rem;
	margin: 0.5em auto;
}

address {
	font-style: normal;
}

div.title {
	display: flex;
	align-items: center;

	padding-top: 1rem;
}

ul {
	margin: 0;
}

ul

.generalInfo img {
	width: 30px;
}

img {
	width: 40px;
	margin: 0 10px 0 3.3px;
}

.skills ul.list {
	gap: 1rem;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
}

.skills ul.list li::before {
	content: "[ ";
}

.skills ul.list li::after {
	content: " ]";
}

@media print {
	.no-print {
		display: none;
	}

	.skills ul.list {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: repeat(3, 1fr);
	}

	div.title {
		padding-top: 5%;
	}
}
