body {
	margin: 0;
	font-family: 'Shippori Mincho', serif;
}

@media print {
	.no-print {
		display: none;
	}

	.page {
		min-height: calc(100vh - 2%);
	}

	section {
	}
}

main > div,
footer {
	padding: 1% 8% 2% 4%;
}

section.generalInfo {
	padding-bottom: 0;
}

section.generalInfo h1 {
	margin: 0;
	padding: 20px 0;
}

section.generalInfo div {
	display: flex;
	align-items: center;
	padding-bottom: 10px;
}

section.generalInfo div.social {
	display: block;
}

a {
	color: black;
}

a:hover {
	color: blue;
	text-decoration: none;
}

address {
	font-style: normal;
}

section div.title {
	display: flex;
	align-items: center;
}

ul {
	margin: 0;
}

section.generalInfo img {
	width: 30px;
}

img {
	width: 40px;
	margin: 0 10px 0 3.3px;
}

section.skills ul.list {
	gap: 1rem;
	display: flex;
	list-style-type: none;
}

@media print {
	section.skills ul.list {
		gap: 0.25rem;
	}
}
